/* COMMON */
* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;

}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 24px auto 0;
}

.btn {
  display: block; /* a, span 같은 인라인 요소를 버튼으로 사용할 수 있으니 블록으로 지정 */
  width: 120px; /* 버튼마다 크기가 같아야 하면 고정 길이, 아니면 그냥 패딩만 주기 */
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--purple {
  color: #9b30ff;
  border-color: #9b30ff;
}
.btn.btn--purple:hover {
  color: #fff;
  background-color: #9b30ff;
}
.btn.btn--blue {
  color: #3078ff;
  border-color: #3078ff;
}
.btn.btn--blue:hover {
  color: #fff;
  background-color: #3078ff;
}

.animate-flash {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier(.43,.19,.02,1);
}

header .btn-hamburger {
  display: none;
}
header .btn-hamburger .material-symbols-outlined {
  font-size: 40px;
  /* 수직 정렬 맞추기 */
  display: block;
  /* line-height: 60px; */
}


.visual p span {
  display: inline-block;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* 첫 번째 줄: 순차적으로 나타나는 애니메이션 */
.visual .first-line span:nth-of-type(1) { animation-delay: 0.1s; }
.visual .first-line span:nth-of-type(2) { animation-delay: 0.2s; }
.visual .first-line span:nth-of-type(3) { animation-delay: 0.3s; }
.visual .first-line span:nth-of-type(4) { animation-delay: 0.4s; }
.visual .first-line span:nth-of-type(5) { animation-delay: 0.5s; }
.visual .first-line span:nth-of-type(6) { animation-delay: 0.6s; }
.visual .first-line span:nth-of-type(7) { animation-delay: 0.7s; }
.visual .first-line span:nth-of-type(8) { animation-delay: 0.8s; }
.visual .first-line span:nth-of-type(9) { animation-delay: 0.9s; }
.visual .first-line span:nth-of-type(10) { animation-delay: 1.0s; }
.visual .first-line span:nth-of-type(11) { animation-delay: 1.1s; }
.visual .first-line span:nth-of-type(12) { animation-delay: 1.2s; }
.visual .first-line span:nth-of-type(13) { animation-delay: 1.3s; }
.visual .first-line span:nth-of-type(14) { animation-delay: 1.4s; }
.visual .first-line span:nth-of-type(15) { animation-delay: 1.5s; }
.visual .first-line span:nth-of-type(16) { animation-delay: 1.6s; }
.visual .first-line span:nth-of-type(17) { animation-delay: 1.7s; }
.visual .first-line span:nth-of-type(18) { animation-delay: 1.8s; }
.visual .first-line span:nth-of-type(19) { animation-delay: 1.9s; }

/* 두 번째 줄: 뒤에서부터 나타나는 애니메이션 */
.visual .second-line span:nth-last-of-type(1) { animation-delay: 2.1s; }
.visual .second-line span:nth-last-of-type(2) { animation-delay: 2.2s; }
.visual .second-line span:nth-last-of-type(3) { animation-delay: 2.3s; }
.visual .second-line span:nth-last-of-type(4) { animation-delay: 2.4s; }
.visual .second-line span:nth-last-of-type(5) { animation-delay: 2.5s; }
.visual .second-line span:nth-last-of-type(6) { animation-delay: 2.6s; }
.visual .second-line span:nth-last-of-type(7) { animation-delay: 2.7s; }
.visual .second-line span:nth-last-of-type(8) { animation-delay: 2.8s; }
.visual .second-line span:nth-last-of-type(9) { animation-delay: 2.9s; }

header {
  background-color: #fff9ec;
  /* background-color: crimson; */
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: bold;
}
header nav ul li a {
  position: relative;
}
header nav ul li a:hover {
  color: #3078ff;
}
header nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #c4d5fa;
  transition: width 0.5s;
  position: absolute;
  left: 0;
  bottom: -4px;
}
header nav ul li a:hover::after {
  width: 100%; 
}

.visual {
  margin-top: 60px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('/img/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.visual > .inner {
  height: calc(100vh - 60px);
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  text-align: center; /* 텍스트 정렬 */
}

.visual p {
  font-size: 70px;
  margin: 0;
}

.first-line, .k {
  color: cadetblue;
}


/* ABOUT */
.about {
  padding: 150px 0;
}
.about .about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about .about__wrapper .about__img {
  width: 40%;
}
.about .about__wrapper .about__img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}
.about .about__wrapper .about__text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about__wrapper .about__text .slogan {
  font-size: 35px;
  font-weight: bold;
}
.about .about__wrapper .about__text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li {
  line-height: 1.8;
}

/* skill */
.skill {
  padding: 150px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/img/bground2.png');
  color: #333;
}
.skill .title::after {
  background-color: #fff;
}
.skill .skill__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
/* 하위 선택자가 아닌 자식 선택자 쓴 것에 유의! */
.skill .skill__list > li {
  border-radius: 20px;
  flex-basis: 220px;
  background-color: #fff9ec;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;
}

.skill.show .skill__list > li {
  transform: translateY(0);
  opacity: 1;
}
.skill .skill__list > li:nth-child(1) { transition-delay: 0.15s; }
.skill .skill__list > li:nth-child(2) { transition-delay: 0.3s; }
.skill .skill__list > li:nth-child(3) { transition-delay: 0.45s; }
.skill .skill__list > li:nth-child(4) { transition-delay: 0.6s; }
.skill .skill__list > li:nth-child(5) { transition-delay: 0.75s; }
.skill .skill__list > li:nth-child(6) { transition-delay: 0.9s; }
.skill .skill__list > li:nth-child(7) { transition-delay: 1.05s; }

.skill .skill__list li h3 {
  width: 60px;
  height: 30px;
  background-color: rgba(48, 120, 255, 0.3) ;
  border-radius: 70%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.skill .skill__list .h:hover {
  transform: scale(1.2);
  box-shadow: 8px 8px 20px #333;
}
.skill .skill__list li h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* license */
.license {
  padding: 150px 0;
}
.license .port {
  display: flex;
  margin: 20px 0;
}
.license .port .port__img,
.license .port .port__text {
  width: 50%;
  height: 400px;
}
.license .port .port__img .swiper {
  width: 100%;
  height: 100%;
}
.license .port .port__img .swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-fit: cover; */
}
.license .port .port__text {
  margin-left: 100px;
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.license .port .port__text h3 {
  font-size: 20px;
  font-weight: 800;
}
.license .port .port__text li {
  line-height: 1.8;
}
.license .port .port__text li span {
  font-weight: bold;
}
.license .port .btn-group {
  display: flex;
  /* column-gap: 40px; */
}
/* 또는 */
.license .port .btn-group .btn:first-child {
  margin-right: 40px;
}
.license .port {
  transform: translateX(100px);
  transition: 1s;
  opacity: 0;
}
.license.show .port {
  transform: translateY(0);
  opacity: 1;
}


/* additional */
.additional {
  padding: 150px 0;
  background-color: #f9f9f9;
}

.additional .description {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 60px;
}

.learnlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.additional__item {
  height: 250px;
  width: calc(33.333% - 20px);
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  min-width: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: transparent; /* 기본 글자 숨기기 */
  transition: transform 0.3s, color 0.3s;
}

.additional__item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 12px;
  transition: 0.3s;
  z-index: 0;
}

.additional__item:hover {
  transform: translateY(-5px);
  color: white; /* hover 시 글자 색 하얗게 */
}

.additional__item:hover::before {
  background: rgba(0, 0, 0, 0.8); /* hover 시 80% 어두움 */
}

.additional__item > h3,
.additional__item > ul {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.1s, transform 0.1s;
}

.additional__item:hover > h3,
.additional__item:hover > ul {
  opacity: 1;
  transform: translateY(0);
}

.additional__item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  /* color는 부모에서 조절되므로 삭제 */
}

.additional__item ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 14px;
  text-align: left;
  line-height: 1.8;
  /* color는 부모에서 조절되므로 삭제 */
}

.additional__item:nth-child(1) {
  background-image: url('../img/cloud.png');
  background-size: cover;
  background-position: center;
  color: white; /* 배경 이미지 대비 */
}

.additional__item:nth-child(2) {
  background-image: url('../img/clcd.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.additional__item:nth-child(3) {
  background-image: url('../img/react.png');
  background-size: cover;
  background-position: center;
  color: white;
}











/* CONTACT */
.contact {
  padding: 200px 0;
  position: relative;
  overflow: hidden;
}
.contact .contact__info li {
  line-height: 2;
  text-align: center;
  transition: 3s;
  opacity: 0;
}
.contact .contact__info li:nth-child(1),
.contact .contact__info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.contact .contact__info li:nth-child(2) {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.contact.show .contact__info li {
  transform: translateX(0);
  opacity: 1;
}

.contact .contact__sns {
  margin-top: 20px;
}
.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.contact .contact__sns ul li {
  transform: translateY(100px);
  opacity: 0;
  transition: 2s;
}
.contact.show .contact__sns ul li {
  transform: translateY(0);
  opacity: 1;
}
.contact.show .contact__sns ul li:nth-child(1) { transition-delay: 0.2s; }
.contact.show .contact__sns ul li:nth-child(2) { transition-delay: 0.4s; }
.contact .contact__sns ul li img {
  width: 30px;
}
/* 원형 퍼지기 */
.contact .inner {
  position: relative;
  z-index: 2; 
}
.contact .contact-overlay {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #000;
  border-radius: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  transition: width 3s ease-out, height 3s ease-out, opacity 3s ease-out;
}
.contact.show .contact-overlay {
  width: 250vmax; 
  height: 250vmax;
  opacity: 0; 
}
.contact.show .contact__info li {
  transition-delay: 0.5s;
}
.contact.show .contact__sns ul li:nth-child(1) { 
  transition-delay: 1.0s; 
}
.contact.show .contact__sns ul li:nth-child(2) { 
  transition-delay: 1.2s; 
}

/* FOOTER */
footer {
  background-color: cornflowerblue;
  color: #fff;
}
footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 200px;
}

/* SCROLL TO TOP */
#toTop {
  width: 42px;
  height: 42px;
  background-color: aliceblue;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;

  /* Quiz: 아이콘 정중앙 정렬 + 오른쪽 하단(30, 30) 배치 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 9;
  /* 처음 상태는 투명에 x축으로 +100px 지점 */
  opacity: 0;
  transform: translateX(100px);
  transition: 0.5s;
}
#toTop .material-symbols-outlined {
  /* 수직 정렬 맞추기 */
  /* display: block; */
  /* 또는 글자 요소의 수직 정렬 */
  line-height: 42px;
}
#thumb {
  width: 42px;
  height: 42px;
  background-color: aliceblue;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  transition: 0.5s;
}
#thumb .material-symbols-outlined {
  line-height: 42px;
}
#thumb:hover {
  transform: scale(1.1);
}

#thumb.liked {
  animation: shake-and-grow 1.5s ease-in-out forwards;
}


@media screen and (max-width: 767px) {
  /* 모바일에서는 화면의 80%만 차지하도록 */
  .inner {
    width: 70%;
  }
  .inner .first-line,
  .inner .second-line {
    font-size: 150%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .title::after {
    width: 60px;
  }

  header .btn-hamburger {
    display: block;
  }
  header nav {
    background-color: aliceblue;
    position: fixed;
    top: 60px;           
    right: -80%;       
    width: 50%;        
    height: 40%;
    overflow: hidden;
    transition: 0.5s;
  }
  header nav.active {
    right: 0;
  }
  header nav ul {
    /* 1) ul 태그를 원래 보여짐 특성인 블록으로 원복 또는 flex 방향 바꾸기 */
    /* display: block; */
    flex-direction: column;
    padding-top: 60px;
  }
  header nav ul li {
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    text-align: right;
  }
  header nav ul li a {
    transition: 0.5s;
  }
  header nav ul li a:hover {
    letter-spacing: 10px;
  }

  .visual > .inner {
    font-size: 24px;
  }
  .visual > .inner .mobile-lf {
    display: inline !important;
  }

  .about {
    padding: 100px 0;
  }
  .about .about__wrapper {
    flex-direction: column;
  }
  .about .about__wrapper .about__img {
    width: 80%;
    margin: 0 auto;
  }
  .about .about__wrapper .about__text {
    width: 100%;
    text-align: center;
  }

  .skill {
    padding: 100px 0;
  }

  .project {
    padding: 100px 0;
  }
  .project .port {
    flex-direction: column;
    margin: 40px 0;
  }
  .project .port .port__img,
  .project .port .port__text {
    width: 100%;
  }
  .project .port .port__text {
    padding: 20px 0 0;
  }
  .project .port .btn-group {
    margin-top: 20px;
  }

  .contact {
    padding: 100px 0;
  }

  #modal .modal-content,
  #imageModal .modal-content {
    width: 80%;
  }
  #imageModal .modal-body img {
    width: 100%;
  }

  .learnlist {
    flex-direction: column;
  }

  .additional__item {
    width: 100%;
  }
  .menu {
    text-align: right !important;
  }
  .menu-item:hover {
    transform: scaleX(1.1);
    transform-origin: right; 
  }
  .license .port {
    flex-direction: column; /* 가로 정렬을 세로 정렬로 변경 */
    margin: 40px 0; /* 각 자격증 섹션 사이에 여백 추가 */
  }
  .license .port .port__img,
  .license .port .port__text {
    width: 100%; /* 이미지와 텍스트가 전체 너비를 차지하도록 설정 */
  }
  .license .port .port__text {
    margin-left: 0; /* 기존에 설정된 왼쪽 마진 제거 */
    padding: 20px 0 0; /* 상단에 여백 추가 */
    text-align: center; /* 텍스트를 중앙 정렬 */
  }
  .license .port .btn-group {
    justify-content: center; /* 버튼 그룹 중앙 정렬 */
    margin-top: 20px; /* 버튼 그룹 상단 여백 추가 */
  }
  /* 또는 */
  .license .port .btn-group .btn:first-child {
    margin-right: 20px; /* 버튼 사이 간격 조정 */
  }
  .visual > .inner .mobile-lf {
    display: inline !important;
  }

  .learnlist {
    flex-direction: column; /* 추가 학습 목록을 세로로 정렬 */
    align-items: center; /* 목록 아이템들을 가운데 정렬 */
  }

  .additional__item {
    width: 90%; /* 화면 너비의 90%를 차지하도록 설정 */
    max-width: 400px; /* 너무 커지지 않도록 최대 너비 설정 */
    height: 200px; /* 아이템의 높이를 고정 (필요에 따라 조절) */
    margin-bottom: 20px; /* 각 아이템 사이에 여백 추가 */
  }

  .additional__item:nth-child(1) {
    background-image: url('../img/cloud.png');
    background-size: cover;
    background-position: center;
  }

  .additional__item:nth-child(2) {
    background-image: url('../img/clcd.png');
    background-size: cover;
    background-position: center;
  }

  .additional__item:nth-child(3) {
    background-image: url('../img/react.png');
    background-size: cover;
    background-position: center;
  }
  footer .copyright {
    font-size: 70%;
}


}


@keyframes shake-and-grow {
  0% { transform: scale(1) rotate(0deg); }
  5% { transform: scale(1.025) rotate(5deg); }
  10% { transform: scale(1.05) rotate(-5deg); }
  15% { transform: scale(1.075) rotate(5deg); }
  20% { transform: scale(1.1) rotate(-5deg); }
  25% { transform: scale(1.125) rotate(5deg); }
  30% { transform: scale(1.15) rotate(-5deg); }
  35% { transform: scale(1.175) rotate(5deg); }
  40% { transform: scale(1.2) rotate(-5deg); }
  45% { transform: scale(1.225) rotate(5deg); }
  50% { transform: scale(1.25) rotate(-5deg); }
  55% { transform: scale(1.275) rotate(5deg); }
  60% { transform: scale(1.3) rotate(-5deg); }
  65% { transform: scale(1.3) rotate(5deg); }
  70% { transform: scale(1.3) rotate(-5deg); }
  75% { transform: scale(1.3) rotate(5deg); }
  80% { transform: scale(1.3) rotate(0deg); }
  85% { transform: scale(1.4) rotate(0deg); }
  90% { transform: scale(1.5) rotate(0deg); }
  95% { transform: scale(1.3) rotate(0deg); }
  100% { transform: scale(1.1) rotate(0deg); }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}